* {
    margin: 5px;
    padding: 5px;
  }
  .container{
      min-width: 950px;
      background-color: silver;
      margin: 0px auto;
  }
  .top-nav {
      height: 150px;
      max-width: auto;
      background-color: green;
  }
  .side-nav {
      height: 300px;
      width: 200px;
      display: inline-block;
      background-color: blue;
  }
  .main {
      min-height: 400px;
      display: inline-block;
      background-color: red;
  }
  .sub-content {
      min-height: 200px;
      min-width: 210px;
      display: inline-flex;
      background-color: yellow;
  }
  #advertisement {
      min-height: 120px;
      min-width: 660px;
      background-color: purple;
  }
  .row {
      display: flex;
  }
  
  